# --- Framework Utama & UI ---
streamlit
streamlit-drawable-canvas==0.8.0

# --- Kecerdasan Buatan & Visi Komputer ---
torch
torchvision
ultralytics
opencv-python-headless
Pillow
numpy
timm

# --- Penanganan Data & Konfigurasi ---
pandas
PyYAML

# --- Pengunduhan Media & Jaringan ---
google-api-python-client
requests
yt-dlp
streamlink
gdown

# --- Pembuatan Laporan & Visualisasi ---
plotly
fpdf
kaleido